# Node
node_modules

# Hidden
.*

# Husky
!.husky

# VS Code
!.vscode

# ESLint
!.eslintrc.cjs

# Git
!.gitignore

# NPM
!.npmrc
!.npmignore

# Prettier
!.prettierignore
!.prettierrc.json

# Changesets
!.changeset
